.astiastoInfo{
    color: rgb(0, 0, 0);
}

.itemClass {
    margin: 0px;
    padding: 0px;
}

.itemClass * {
    margin: 5px;
    padding: 5px;
}

.itemGrid {
    padding-top: 10px;
}

.aboutCard {
    vertical-align: top;
    height: 300px;
    width: 200px;
    display: inline-block;
    border-radius: 4px;
    -webkit-filter: grayscale(80%);
    -moz-filter: grayscale(80%);
    filter: grayscale(80%);
    transition: all 0.2s ease;
}
.aboutCard:hover {
    -webkit-filter: grayscale(0%);
   -moz-filter: grayscale(0%);
   filter: grayscale(0%);
    background-color: rgba(0, 0, 0, 0.096);
}

.aboutCard * {
    margin: 0px;
    margin-top: 10px;
}