.formClass {
    margin:0px;
    padding:0px;
    padding-top: 10px;
    overflow: hidden;
    align-items: center;
    width: 100%;
}

.formContact * {
    padding: 0px;
    margin: 5px;
}

.formWrapper {
  overflow:hidden;
}

.formWrapper div {
    min-height: 200px;
    padding: 10px;
 }

 form {
    max-width: 100%;
    padding: 0px !important;
    margin: 0px !important;
}


@media screen and (max-width: 1050px) {
    .formContact { 
     float: inherit;
     margin-right:0;
     width:auto;
     padding: 0px;
     margin: 0px;
   }
   .formClass{
       width: 100%;
       padding: 0px;
       margin: 0px;
   }
   .formOther {
       width: 100%;
       margin: 0px!important;
       padding: 0px !important;
   }
   .formAndSubmit{
       width: 100%;
       margin: 0px!important;
       padding: 0px!important;
   }
   .formAmountClass{
        width: 100%;
        margin: 0px!important;
        padding: 0px!important;
    }

    .formInputsNumber{
        margin-top: 20px !important;
        padding-top: 20px !important;
    }

    .formAmountClass>div{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .formRow{
        list-style-type:none;
        text-align: left;
        list-style-position: inside;
        padding-top: 10px;
        padding-left: 20px;
    }

    .submitClass>div,.submitClass>h5,.submitClass>p {
        margin: 0px;
        padding: 0px;
        margin-bottom: 8px;
        width: 100% !important;
    }
}

@media screen and (min-width: 1050px) {
    .formClass > form {
        justify-content: space-around;
        display: inline-block;
        width: 100%;
      }
    .formContact {
        margin-top: 0px;
        max-width: 350px;
        width: 100%;
        float:left; 
        border-radius: 4px;
        margin-left: 0px;
    }
    .formRow{
        list-style-type:none;
        text-align: left;
        list-style-position: inside;
        padding-top: 10px;
        padding-left: 20px;
    }

    .submitClass>div,h5,p {
        margin: 5px !important;
        padding: 5px !important;
    }

    .autoFill {
        max-width: 500px;
    }

}

.submitClass * {
    margin: 10px;
    padding: 10px;
    max-width: 100%;
}
.submitClass {

    border-radius: 4px;
    padding: 0px !important;
    margin: 0px !important;
}
 
.formContact >input,textarea, .autoFill > p > input {
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    max-width: 300px;
    width: 100%;
}

.formContact > textarea {
    padding: 10px;
}


.formContact > label {
    color: #3d3d3d;
    display: block;
    font-weight: 500;
    margin-bottom: 0px;
    text-align: left;
}

.autoFill {
    margin-top: 0px;
    margin-bottom: 0px;
}

.autoFill * {
    padding-top: 0px;
    margin-top: 0px;
}

.autoFill > p {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.autoFill > p > input {
    width: 50px;
}


.autoFill > p > label {
    color: #3d3d3d;
    font-weight: 500;
    margin-bottom: 0px;
}

.autoFill > p > a {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    font-size: 20px;
    padding: 7px 27px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.autoFill > p > a:hover {
    background-color: #358338c9; /* Green */
    color: rgb(255, 255, 255) !important;
}

.formOther {
    overflow:hidden;
    margin:10px;
    margin-top: 0px;
}

/*  
OTHER

*/

.formAndSubmit * {
    padding: 0px;
    margin: 0px;
    max-width: 800px;
}

.formAmountClass {
    width: 100%;
}
.formInputsNumber{
    padding-top: 10px;
}


.formRow > li > input {
    width: 80px!important;
    padding-left: 5px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 5px;
}

.formRow > li > a {
    padding-left: 5px;
}

.formRow > li {
    padding-top: 10px;
}


.submitButton > button {
    font-size: 30px;
    margin: 0px !important;
    padding: 10px !important;
    background-color: #2e8531; /* Green */
    border: none;
    color: white;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    max-width: 300px;
}
.submitButton >button:hover {
    background-color: #358338; /* Green */
    color: rgb(207, 207, 207);
}

.alertInfo {
    font-size: 30px;
    margin: 0px;
    background-color: #af0505; /* Green */
    border: none;
    color: white;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    max-width: 350px;
}

.alertInfo:hover {
    background-color: rgb(114, 114, 114);
}