html,
body {
  padding: 0px;
  margin: 0px;
  position:absolute;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

html {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield;
}

.allContent {
  margin: auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  overflow-x: hidden; 
}
.NaviClassMain{
  height: 500px;
  overflow: hidden;
  background-image: url('../public/img/front1.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center center;
  background-color: #cccccc;
}

.naviBar {
  position: relative;
  display: inline;
  vertical-align: top;
  position: absolute;
  top: 0;
  left: 0;
}

.mainContentClass {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  margin: auto;
  max-width: 1400px;
  overflow: hidden;
  width: 100%;
}

.contentIndex{
  max-width: 1000px;
}

.mainContentClass * {
  margin: 20px;
  margin-top: 50px;
}

.contactMain{
  background-color: violet;
}

.contactFooter {
  background-color: rgb(163, 163, 163);
  padding-top: 10px;
  min-height: 100px;
  margin-top: auto;
  text-align: center;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
