html,
body {
  padding: 0;
  margin: 0;
  position:absolute;
  top:0px;
  left:0;
  width:100vh !important;
  background-color: rgb(202, 202, 1);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  position:absolute;
  top:0px;
  left:0;
  width:100% !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  width: 100%;
  top:0px;
  left:0;
}

.mainClass {
  position:absolute;
  top:0px;
  left:0;
  width:100% !important;
}

.naviClass {
  position:absolute;
  top:0px;
  left:0;
  width:100% !important;
}

.contentClass {
  padding: 10px;
  width:100% !important;
  margin: auto;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.lasit {
  background-color: rgba(95, 158, 160, 0.267);
  padding: 15px;
}

.lautaset {
  background-color: rgba(255, 127, 80, 0.178);
  padding: 15px;
}


.aterimet {
  background-color: rgba(107, 107, 107, 0.178);
  padding: 15px;
}

.contact {
  padding: 20px;
}

.formRow {
  margin: auto;
  display: table;
  padding-top: 10px;
}

.formName {
  padding-left: 20px;
  float: right;
  width: 300px;
  
}

.formInput {
  float: left;
  width: 60px;
}

.formAndSubmit {

}

.formClass {
  float: left;
  width: 70%;
  min-width: 500px;
  padding-bottom: 20px;
}

.formClass>div {
  padding: auto;
}

.submitClass {
  margin-top: 20px;
  align-items: center;
  text-align: center;
}

.bottom{
  height: 50px;
}


.autoFill {
  padding: 30px;
  background-color: rgba(255, 217, 0, 0.185);
}